
<h2>AccessInformation</h2>
<ul class="parameter">
  <li class="param-required-true">record : String
    <br/>\&quot;public\&quot; or \&quot;restricted\&quot;. Read access to the record. \&quot;public\&quot; means anyone can see the record/files. \&quot;restricted\&quot; means only the owner(s) or specific users can see the record/files.
      <dl class="param-enum">
        <dt>Enum:
            <dd>public</dd>
            <dd>restricted</dd>
        </dt>
      </dl>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">files : String
    <br/>\&quot;public\&quot; or \&quot;restricted\&quot;. Read access to the record&#39;s files. \&quot;public\&quot; means anyone can see the record/files. \&quot;restricted\&quot; means only the owner(s) or specific users can see the record/files.
      <dl class="param-enum">
        <dt>Enum:
            <dd>public</dd>
            <dd>restricted</dd>
        </dt>
      </dl>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">emargo : Embargo
    <br/>
  </li>
</ul>
