
<h2>AffiliationIdentifier</h2>
<ul class="parameter">
  <li class="param-required-true">identifier : String
    <br/>Actual value of the identifier.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">scheme : String
    <br/>The identifier scheme.
      <dl class="param-enum">
        <dt>Enum:
            <dd>isni</dd>
            <dd>ror</dd>
        </dt>
      </dl>
  </li>
</ul>
