
<h2>AffiliationIdentifierAllOf</h2>
<ul class="parameter">
  <li class="param-required-true">scheme : String
    <br/>The identifier scheme.
      <dl class="param-enum">
        <dt>Enum:
            <dd>isni</dd>
            <dd>ror</dd>
        </dt>
      </dl>
  </li>
</ul>
