
<h2>DraftFilesReadEntry</h2>
<ul class="parameter">
  <li class="param-required-false">bucketUnderscoreid : String
    <br/>The bucket identifier.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">versionUnderscoreid : String
    <br/>The logical object identifier.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">fileUnderscoreid : String
    <br/>The digital file instance identifier (references a file on storage).
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">backend : String
    <br/>The backend for the file.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">key : String
    <br/>The filepath of the file.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">mimetype : String
    <br/>The mimetype of the file.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">size : Integer
    <br/>The size in bytes of the file.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">checksum : String
    <br/>The checksum of the file in the form &lt;algorithm&gt;:&lt;value&gt;.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">metadata : Object
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">updated : Date
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">created : Date
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">status : String
    <br/>
      <dl class="param-enum">
        <dt>Enum:
            <dd>completed</dd>
            <dd>pending</dd>
        </dt>
      </dl>
  </li>
</ul>
