
<h2>DraftFilesRead</h2>
<ul class="parameter">
  <li class="param-required-true">enabled : Boolean
    <br/>The enabled field determines if the record is a metadata-only record or if files are associated.  Value is &#x60;&#x60;false&#x60;&#x60;: In this case, the record has (and can have) no associated files. It is a metadata-only record.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">entries : List
    <br/>The entries field lists the associated digital files for the resource described by the record. The files must all be registered in Invenio-Files-REST store independently. This is to ensure that files can be tracked and fixity can be checked. The key represents a file path.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">defaultUnderscorepreview : String
    <br/>The default preview field names the filename of the file which should by default be shown on the record landing page.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">order : List
    <br/>The order field defines a list of filenames which is the default display order of files. If the order field is not specified, then alphanumeric ordering of filenames is used.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">meta : Object
    <br/>Additional metadata per file can be provided or automatically added by extensions. Currently, we&#39;re planning to add the file extension, image width/height (needed for IIIF) and a description.
  </li>
</ul>
