
<h2>Embargo</h2>
<ul class="parameter">
  <li class="param-required-true">active : Boolean
    <br/>boolean. Is the record under embargo or not.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">until : date
    <br/>Required if active true. ISO date string. When to lift the embargo. e.g., \&quot;2100-10-01\&quot;
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">reason : String
    <br/>string. Explanation behing embargo.
  </li>
</ul>
