
<h2>Error</h2>
<ul class="parameter">
  <li class="param-required-false">status : Integer
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">message : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">errors : List
    <br/>
  </li>
</ul>
