
<h2>FilesEntries</h2>
<ul class="parameter">
  <li class="param-required-true">bucketUnderscoreid : String
    <br/>The bucket identifier.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">versionUnderscoreid : String
    <br/>The logical object identifier.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">fileUnderscoreid : String
    <br/>The digital file instance identifier (references a file on storage).
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">backend : String
    <br/>The backend for the file.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">key : String
    <br/>The filepath of the file.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">mimetype : String
    <br/>The mimetype of the file.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">size : Integer
    <br/>The size in bytes of the file.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">checksum : String
    <br/>The checksum of the file in the form &lt;algorithm&gt;:&lt;value&gt;.
  </li>
</ul>
