
<h2>MetadataAffiliations</h2>
<ul class="parameter">
  <li class="param-required-true">name : String
    <br/>The organizational or institutional affiliation of the creator.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">identifiers : List
    <br/>Organisation identifiers.
  </li>
</ul>
