
<h2>RecordReadParent</h2>
<ul class="parameter">
  <li class="param-required-false">id : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">access : RecordRead_parent_access
    <br/>
  </li>
</ul>
