
<h2>RecordNew</h2>
<ul class="parameter">
  <li class="param-required-false">access : AccessInformation
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">files : RecordNew_files
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">metadata : Metadata
    <br/>
  </li>
</ul>
