
<h2>RecordReadLinks</h2>
<ul class="parameter">
  <li class="param-required-false">self : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">selfUnderscorehtml : String
    <br/>
  </li>
</ul>
