
<h2>RecordReadParentAccess</h2>
<ul class="parameter">
  <li class="param-required-false">ownedUnderscoreby : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">links : List
    <br/>
  </li>
</ul>
