<div class="main-content">
  <h2><a name=""></a></h2>
  <p>This is the  API</p>

  <h2><a name="recordsIdDraftFilesFilenameCommitPost"></a>recordsIdDraftFilesFilenameCommitPost</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://localhost/api/records/{id}/draft/files/{filename}/commit</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="DraftFilesReadEntry"><a href="">DraftFilesReadEntry</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description">Identifier of the record, e.g. 4d0ns-ntd89</p>
	  </li>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">filename</span>
      <span class="param-type">String</span>
      
      <p class="param-description">Name of the file.</p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">prettyprint</span>
      <span class="param-type">String</span>
      
      <p class="param-description">specify &#x60;&#x60;1&#x60;&#x60; to receive pretty-printed response json, or don&#39;t specify this parameter at all in order to leave response as-is.</p>
	  </li>
  </ul>
  <h2><a name="recordsIdDraftFilesFilenameContentPut"></a>recordsIdDraftFilesFilenameContentPut</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://localhost/api/records/{id}/draft/files/{filename}/content</code>
  <h3 class="section">HTTP Method</h3>
  <code>PUT</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="DraftFilesReadEntry"><a href="">DraftFilesReadEntry</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description">Identifier of the record, e.g. 4d0ns-ntd89</p>
	  </li>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">filename</span>
      <span class="param-type">String</span>
      
      <p class="param-description">Name of the file.</p>
	  </li>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">body</span>
      <span class="param-type">File(file)</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">prettyprint</span>
      <span class="param-type">String</span>
      
      <p class="param-description">specify &#x60;&#x60;1&#x60;&#x60; to receive pretty-printed response json, or don&#39;t specify this parameter at all in order to leave response as-is.</p>
	  </li>
	  <li class="parameter">
      
      
      
      <span class="param-in">Header: </span>
      
      <span class="param-name">Content-Type</span>
      <span class="param-type">String</span>
      
      <p class="param-description">Should always be &#x60;&#x60;application/octet-stream&#x60;&#x60;.</p>
	  </li>
  </ul>
  <h2><a name="recordsIdDraftFilesList"></a>recordsIdDraftFilesList</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://localhost/api/records/{id}/draft/files</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="Files"><a href="">Files</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">prettyprint</span>
      <span class="param-type">String</span>
      
      <p class="param-description">specify &#x60;&#x60;1&#x60;&#x60; to receive pretty-printed response json, or don&#39;t specify this parameter at all in order to leave response as-is.</p>
	  </li>
  </ul>
  <h2><a name="recordsIdDraftFilesPost"></a>recordsIdDraftFilesPost</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://localhost/api/records/{id}/draft/files</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="DraftFilesRead"><a href="">DraftFilesRead</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">object</span>
      <span class="param-type">List(object)</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">prettyprint</span>
      <span class="param-type">String</span>
      
      <p class="param-description">specify &#x60;&#x60;1&#x60;&#x60; to receive pretty-printed response json, or don&#39;t specify this parameter at all in order to leave response as-is.</p>
	  </li>
  </ul>
</div>
