<div class="main-content">
  <h2><a name=""></a></h2>
  <p>This is the  API</p>

  <h2><a name="recordsIdGet"></a>recordsIdGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://localhost/api/records/{id}</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="RecordRead"><a href="">RecordRead</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">prettyprint</span>
      <span class="param-type">String</span>
      
      <p class="param-description">specify &#x60;&#x60;1&#x60;&#x60; to receive pretty-printed response json, or don&#39;t specify this parameter at all in order to leave response as-is.</p>
	  </li>
  </ul>
</div>
